
@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');
body {
    font-family: 'Phudu', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative; /* Needed for positioning pseudo-element */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://images.unsplash.com/photo-1592595896551-12b371d546d5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80') no-repeat center center;
    background-size: cover;
    opacity: 0.85; /* Adjust opacity here */
    z-index: -1; /* Place behind other content */
}

#main-content {
    margin-left: 20%;
    margin-right: 2%;
    margin-bottom: 4rem;
    width: 400px;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
.header{
    display: flex;
    flex-direction: column;
    padding: 0 0 300px 0;
}
h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #151515;
}
.header p{
    font-size: 20px;
    text-align: center;
    color: #151515;
}
.header h2{
    text-align: center;
    color: #151515;
}
.Area input{
    width: 93%;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #555;
}

select,
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.7);
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #555;
}

h2 {
    margin-top: 1.5rem;
    font-size: 18px;
    color: #333;
}

#predicted-price {
    font-size: 24px;
    color: #333;
    margin-top: 0.5rem;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}


@media (max-width:700px){
    body{
        flex-direction: column;
    }
    #main-content {
        margin: 0 0 4rem 0;
    }
    .header{
        padding: 0 0 80px 0;
    }    
}

@media (max-width:480px){
    #main-content{
        max-width: 300px;
    }
}
@media (max-width:380px){
    #main-content{
        max-width: 250px;
    }
}
@media (max-width:330px){
    #main-content{
        max-width: 200px;
    }
}